nav ul li {
  display: inline-block;
  background-color: #D2B4F0; }
  nav ul li a:link nav ul li a:visited nav ul li a:active {
    text-decoration: none; }

footer ul li {
  display: inline-block;
  background-color: orange; }
  footer ul li a:link footer ul li a:visited footer ul li a:active {
    text-decoration: none; }

.box {
  margin: 2em;
  border: .2em solid #29251c;
  padding: 3em;
  background-color: #adc0b4; }

a:hover {
  font-weight: bold;
  background-color: rgba(20, 14, 14, 0.452);
  color: aqua;
  text-decoration: underline; }

a:link {
  text-decoration: none;
  color: white; }

a:active {
  background-color: rebeccapurple;
  color: goldenrod; }

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
/* // Medium devices (tablets, 768px and up) */
/* // Large devices (desktops, 992px and up) */
/* // X-Large devices (large desktops, 1200px and up) */
