nav {
  max-width: 100%; }
  nav ul li {
    display: inline-block;
    background-color: #D2B4F0; }
    nav ul li a:link nav ul li a:visited nav ul li a:active {
      text-decoration: none; }

li img {
  max-width: 150px;
  max-height: 150px; }

footer ul li {
  display: inline-block;
  background-color: orange; }
  footer ul li a:link footer ul li a:visited footer ul li a:active {
    text-decoration: none; }

body {
  max-width: 100%;
  overflow-x: hidden; }

.box {
  margin: 2em;
  border: .2em solid #29251c;
  padding: 3em;
  background-color: #adc0b4; }

a:hover {
  font-weight: bold;
  background-color: rgba(20, 14, 14, 0.452);
  color: aqua;
  text-decoration: underline; }

a:link {
  text-decoration: none;
  color: white; }

a:active {
  background-color: rebeccapurple;
  color: goldenrod; }

@media (max-width: 1400px) {
  body {
    background-color: yellow; } }

@media only screen and (max-width: 1024px) {
  body {
    background-color: blue; } }

@media only screen and (max-width: 767px) {
  body {
    background-color: orange; } }

@media only screen and (max-width: 576px) {
  body {
    background-color: lightblue; } }
