footer{
    background-color: map-get($color , "negro" );
    height: 13em;
    color: white;
    ul{
        li{
            display: inline-block;
            text-align: center;
            a{
                &:link
                &:visited
                &:active{
                    text-decoration: none;
                }
            }
        }
    }
}