footer{
    ul{
        li{
            display: inline-block;
            background-color: map-get($color , "naranja" );
            a{
                &:link
                &:visited
                &:active{
                    text-decoration: none;
                }
            }
        }
    }
}