@mixin hover {
    font-weight:bold;
    text-decoration:underline;
}

@mixin lista {
    li{
        display: inline-block;
        color: black;
        a{
            &:link
            &:visited
            &:active{
                text-decoration:none;
            }
        }
    }
}

@mixin query ($background,$vista) {

    body{

        @if $vista == desktop {
            @media only screen and (max-width: 1024px){
                background-color: $background;
            }
        }
        @else if $vista == tablet {
            @media only screen and (max-width: 767px){
                background-color: $background;
            }
        }
        @else if $vista == mobile {
            @media only screen and (max-width: 576px){
                background-color: $background;
            }
        }
        @else{
            background-color: $background;
        }

    }

}