nav{
    max-width: 100%;
    font-size:x-large;
    align-self: flex-start;
    ul{
        @include lista;
    }
}

a{
    color: #00fffb;
    img{
        max-width: 75px;
        max-height: 75px;
        background-color: rgba(0, 238, 255, 0.849);
    }
}