@import './variables';
@import './mixins';
@import './nav';
@import './footer';
@import './header';

body{
    max-width: 100%;
    overflow-x: hidden;
}

.box{
    @include box;    
}

a:hover{
    @include hover;
}
a:link{
    text-decoration:none; color: white;
}
a:active{
background-color: rebeccapurple; color: goldenrod;
}

@media (max-width: 2600px) {
    @include query(yellow,bigdesktop)
}
@include query(blue,desktop);
@include query(orange,tablet);
@include query(lightblue,mobile);