@import './variables';
@import './mixins';
@import './nav';
@import './footer';
@import './header';
@import './main';
@import './night';

body{
    max-width: 100%;
    overflow-x: hidden;
}

a:hover{
    @include hover;
}
a:link{
    text-decoration:none; 
}

a:visited{
    color: rgb(255, 255, 255);
}



@media (max-width: 2600px) {
    @include query(rgb(253, 215, 0),bigdesktop)
}
@include query(rgb(255, 255, 255),desktop);
@include query(rgb(255, 255, 255),tablet);
@include query(rgb(255, 255, 255),mobile);